{
	"env": {
		"amd": true,
		"mocha": true,
		"node": true
	},
	"extends": ["eslint:recommended", "google"],
	"parserOptions": {
		"ecmaVersion": 6
	},
	"rules": {
		"indent": [2, "tab"],
		"no-tabs": 0,
		"require-jsdoc": 0,
		"no-console": 0	
	}
}
